* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #352e29;
  }


  #map {
    height: 100vh;
    width: 100vw; 
  }

  
  /*the star is a wildcard that styles the entire html file.*/